PORT=5432
DATABASE_URL="postgresql://postgres.cqrfaefpaedvvflkdzbd:MH14HV3731@@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
JWT_SECRET="super-secret-change-me"
JWT_EXPIRES_IN="1d"
BCRYPT_SALT_ROUNDS=10
